<app-post-form (newPost)="onNewPost($event)"></app-post-form>
<!-- we recieve the new post from the post-form using the event emitter for setting
an event between seperate components(in this case 1 is the post-form and the 2 is
post component which his job is to present the posts) -->
<h2>Posts</h2>
<div class="card" *ngFor="let post of posts">
  <div class="card-body">
    <img src="assets/images/avatar.png" alt="Avatar" class="avatar" />
    <h4>seemo cohen</h4>
    <p>cyberproof analyst</p>
    <h3>{{ post.title }}</h3>
    <p>{{ post.newsText }}</p>
  </div>
</div>
